---
---

.course-box {
  margin: 25px 0;
  padding: 20px 25px;
  border: solid 1px var(--light-gray);
  border-left: solid 6px var(--primary);
  border-radius: var(--rounded);
  background: var(--background);
  box-shadow: var(--shadow);
  text-align: left;
  line-height: var(--spacing);
}

.course-box > :first-child {
  margin-top: 0;
}

.course-box > :last-child {
  margin-bottom: 0;
}

.course-box-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 0 12px;
  font-family: var(--heading);
  font-weight: var(--semi-bold);
  font-size: var(--large);
}

.course-box-title .icon {
  color: var(--primary);
}
